apiVersion: v1
kind: Secret
metadata:
  name: ifaa-secrets
  namespace: default
type: Opaque
stringData:
  POSTGRES_DB: mydb
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_HOST: postgres
  POSTGRES_PORT: "5432"
